# Feral File Indexer Worker Media Configuration

debug: true
sentry_dsn: "" 

database:
  host: localhost
  port: 5432
  user: postgres
  password: postgres
  dbname: ff_indexer
  sslmode: disable

temporal:
  host_port: localhost:7233
  namespace: default
  task_queue: media-indexing
  max_concurrent_activity_execution_size: 10
  worker_activities_per_second: 10

uri:
  ipfs_gateways:
    - https://ipfs.io
    - https://cloudflare-ipfs.com
    - https://ipfs.feralfile.com
    - https://dweb.link
    - https://ipfs.filebase.io
  arweave_gateways:
    - https://arweave.net
  onchfs_gateways:
    - https://onchfs.fxhash2.xyz

cloudflare:
  account_id: ""
  api_token: ""

max_static_image_size: 10485760      # 10MB
max_animated_image_size: 52428800    # 50MB
max_video_size: 314572800            # 300MB

