# Feral File Indexer API Configuration

debug: true
sentry_dsn: ""

server:
  host: 0.0.0.0
  port: 8080
  read_timeout: 15
  write_timeout: 15
  idle_timeout: 120

database:
  host: localhost
  port: 5432
  user: postgres
  password: postgres
  dbname: ff_indexer
  sslmode: disable

temporal:
  host_port: localhost:7233
  namespace: default
  task_queue: token-indexing

blacklist_path: tools/registry/blacklist.json

