# Feral File Indexer Worker Core Configuration

debug: true
sentry_dsn: ""

database:
  host: localhost
  port: 5432
  user: postgres
  password: postgres
  dbname: ff_indexer
  sslmode: disable
  # Connection pool settings - adjust based on worker concurrency
  # Worker-core processes tasks with configurable concurrency
  max_open_conns: 30        # Maximum number of open connections (default: 25)
  max_idle_conns: 8         # Maximum number of idle connections (default: 5)
  conn_max_lifetime: 5m      # Maximum time a connection can be reused (default: 5m)
  conn_max_idle_time: 10m   # Maximum time a connection can be idle (default: 10m)

temporal:
  host_port: localhost:7233
  namespace: default
  token_task_queue: token-indexing
  media_task_queue: media-indexing
  max_concurrent_activity_execution_size: 50
  worker_activities_per_second: 50

ethereum:
  chain_id: eip155:1
  rpc_url: ""

tezos:
  chain_id: tezos:mainnet
  api_url: https://api.tzkt.io

vendors:
  artblocks_url: https://artblocks-mainnet.hasura.app/v1/graphql
  feralfile_url: https://feralfile.com/api

ethereum_token_sweep_start_block: 10000000
tezos_token_sweep_start_block: 5000000
publisher_registry_path: tools/registry/publisher.json
blacklist_path: tools/registry/blacklist.json

uri:
  ipfs_gateways:
    - https://ipfs.io
    - https://cloudflare-ipfs.com
    - https://ipfs.feralfile.com
    - https://dweb.link
    - https://ipfs.filebase.io
  arweave_gateways:
    - https://arweave.net
  onchfs_gateways:
    - https://onchfs.fxhash2.xyz

