debug: true
sentry_dsn: ""

database:
  host: localhost
  port: 5432
  user: postgres
  password: postgres
  dbname: ff_indexer
  sslmode: disable
  
nats:
  url: nats://localhost:4222
  stream_name: BLOCKCHAIN_EVENTS
  consumer_name: event-bridge
  connection_name: event-bridge-consumer
  max_reconnects: 10
  reconnect_wait: 2s
  ack_wait: 30s
  max_deliver: 3

temporal:
  host_port: localhost:7233
  namespace: default
  task_queue: token-indexing
  max_concurrent_activity_execution_size: 50
  worker_activities_per_second: 50

ethereum:
  chain_id: eip155:1
  rpc_url: https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID

tezos:
  chain_id: tezos:mainnet
  api_url: https://api.tzkt.io

ethereum_token_sweep_start_block: 10000000
ethereum_token_sweep_block_chunk_size: 50000
tezos_token_sweep_start_block: 5000000
tezos_token_sweep_block_chunk_size: 10000